<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Algerian Forest Fire API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Forest Fire Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="day" placeholder="day" required="required" /><br>
    	<input type="text" name="month" placeholder="month" required="required" /><br>
      <input type="text" name="year" placeholder="year" required="required" /><br>
      <input type="text" name="Temprature" placeholder="Temparature" required="required" /><br>
      <input type="text" name="RH" placeholder="RH" required="required" /><br>
      <input type="text" name="WS" placeholder="WS" required="required" /><br>
    	<input type="text" name="Rain" placeholder="Rain" required="required" /><br>
      <input type="text" name="FFMC" placeholder="FFMC" required="required" /><br>
      <input type="text" name="DMC" placeholder="DMC" required="required" /><br>
      <input type="text" name="DC" placeholder="DC" required="required" /><br>
      <input type="text" name="ISI" placeholder="ISI" required="required" /><br>
    	<input type="text" name="BUI" placeholder="BUI" required="required" /><br>
      <input type="text" name="FWI" placeholder="FWI" required="required" /><br>
             

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>